@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Animal Crossing Recipe Finder</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="col-md-6">
                    <label>Name of Material: </label>
                    <select name="MaterialSelect" id="MaterialSelect" size="1">
                        @foreach (var Material in Model.MaterialsList)
                        {
                            @Material.MaterialName
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Amount of Material You Have: </label>
                    <input type="text" name="Amount" id="Amount" value="@Model.Amount" />
                </div>
                <div class="col-md-6">
                    <input type="submit" name="Submit" id="Submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
